@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
/* ## Colors */

/* ### Primary */

--Purple: hsl(259, 100%, 65%);
--LightDed: hsl(0, 100%, 67%);

 /* ### Neutral */

--White: hsl(0, 0%, 100%);
--OffWhite: hsl(0, 0%, 94%);
--LightGrey: hsl(0, 0%, 86%);
--SmokeyGrey: hsl(0, 1%, 44%);
--OffBlack: hsl(0, 0%, 8%);
}
body{
    background: var(--LightGrey);
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: var(--White);
    width: 340px;
    border-radius: 15px 15px 40px 15px;
    padding: 30px 20px;
}
.error{
    color: var(--LightDed);
}
form{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 60px;
}
form div{
    width: 30%;
}
form div p{
    margin: 5px 0;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    color: var(--SmokeyGrey);
}
form div input{
    width: 100%;
    border: solid 1px var(--LightGrey);
    border-radius: 5px;
    outline: 0;
    padding: 5px 10px;
    font-size: 20px;
    color: var(--OffBlack);
}
form div input:hover{
    cursor: pointer;
    border: solid 1px var(--Purple);
}
form div input:focus{
    border: solid 1px var(--Purple);
}
form div input::-webkit-outer-spin-button,
form div input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.line-container{
    position: relative;
}
.img-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: var(--Purple);
    transition: 0.5s;
}
.img-container:hover{
    cursor: pointer;
    background: var(--OffBlack);
}
.img-container img{
    width: 23px;
    height: 22px;
}
.result-container{
    padding-top: 40px;
}
.result-container div{
    font-style: italic;
    display: flex;
    align-items: center;
}
.result-container div h2{
    font-size: 42px;
    font-weight: 800;
    color: var(--OffBlack);
}
.result-container div span{
    color: var(--Purple);
    margin-right: 10px;
    font-size: 42px;
    font-weight: 800;
}
span{
    color: var(--LightDed);
    font-size: 10px;
}
@media  (min-width: 800px) {
    .calculator{
        background: var(--White);
        width: 550px;
        border-radius: 15px 15px 140px 15px;
        padding: 30px 35px;
    }
    form{
        width: 70%;
        margin-bottom: 40px;
    }
    .img-container{
        top: 50%;
        left: 95%;
        transform: translate(-50%, -50%);
    }
    .result-container{
        line-height: 60px;

    }
    .result-container div h2{
        font-size: 60px;
    }
    .result-container div span{
        margin-right: 10px;
        font-size: 60px;
    }
}